.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;

    max-width: 19.1875rem;
    padding: 1rem;

    text-align: center;

    background-color: var(--white);
    border-radius: 1.2rem;

    img {
        border-radius: 0.625rem;
    }

    h2 {
        margin: 0 0.8rem;
        font-size: 21px;
        color: var(--dark-blue);
    }

    p {
        margin: 0 1rem;
        margin-bottom: 1.25rem;
        font-size: 0.9375rem;
        color: var(--grayish-blue);
    }

    @media (--pc-large) {
        max-width: 18.75rem;
    }
    @media (--phone) {
        max-width: 85%;
    }
}
